 Adjust text */
* {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Toán tử CSS */
#abc + div : CSS cho thẻ div đầu tiên sau thành phần có id #abc. Div không nằm trong #abc.
#abc ~ div : CSS cho tất cả thẻ div sau thành phần có id #abc. Div không nằm trong #abc.
[title~=flower] : Chọn tất cả thành phần mà thuộc tính title chứa từ "flower"
[lang|=en]  Selects all elements with a lang attribute value starting with "en"
a[href^="https"]    Selects every <a> element whose href attribute value begins with "https"    3
a[href$=".pdf"] Selects every <a> element whose href attribute value ends with ".pdf"   3
a[href*="w3schools"]    Selects every <a> element whose href attribute value contains the substring "w3schools"
p::first-letter Selects the first letter of every <p> element   1
p::first-line   Selects the first line of every <p> element
:not(p) Selects every element that is not a <p> element
:not(:first-child)

Các đơn vị tương đối được sử dụng trong CSS gồm có:
px: đơn vị tuyệt đối (tương đương 1 điểm ảnh).
pt: đơn vị tuyệt đối (1 inch = 72pt)
%: Là đơn vị tham chiếu tỷ lệ so với một phần tử mẹ của nó dựa vào kích thước. Ví dụ bạn có một cái khung với kích thước là 500px và khung bên trong có kích thước là 50% thì nó sẽ là 250px. Nếu bạn sử dụng đơn vị phần trăm này để gán kích thước cho thẻ <html> trên website thì nó sẽ thay đổi theo kích thước màn hình hoặc/cửa sổ website.
em: Là đơn vị tham chiếu tỷ lệ so với phần tử mẹ của nó dựa vào giá trị của thuộc tính font-size. Ví dụ bạn đặt cho font-size cho phần tử mẹ của nó là 19px thì nếu bạn sử dụng em trong khu vực phần tử đó thì 1em = 19px.
rem: Là đơn vị tham chiếu tỷ lệ so với phần tử gốc của một website dựa vào thuộc tính font-size của thẻ <html>, nghĩa là sẽ biến đổi tùy theo giá trị của thuộc tính font-size trong thẻ <html>. Cũng như rem, nếu bạn khai báo font-size cho thẻ <html> là 16px thì 1rem = 16px. 


/* Mansory */
.mansory {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}
.mansory .item {
    display: inline-block;         
    margin: 0 0 15px;
    width: 100%;    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;   
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
}
.mansory .item img {
    width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mansory {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        -ms-column-count: 2;
        column-count: 3;
    }
}
@media only screen and (max-width: 767px) {
    .mansory {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -ms-column-count: 2;
        column-count: 2;
    }
}

/*Create triangle*/
.triangle {
    width: 0;
    height: 0;
    margin: -2px 0 0 2px;
    display: inline-block;
    border-left: 7px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* Arrow */
#thumbs2-prev::before, #thumbs2-next::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
#thumbs2-prev::before {
    top: 5px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}
#thumbs2-next::before {
    bottom: 5px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/* Controller < > CSS */
.leftIcon { content: "\f053" or "\f104";  }
.rightIcon { content: "\f054" or "\f105"}

/*Tạo hiệu ứng răng cưa CSS*/
.paper:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    /*background: linear-gradient(135deg, #fff25, transparent 25%) center top repeat-x, linear-gradient(045deg, transparent 75%, #fff75) center top repeat-x;*/
    background-size: 12px 8px;
}

/*Zoom Image when hover or focus with CSS*/
ul li div {
    overflow: hidden;
}

ul li div:hover img, ul li div:focus img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

ul li div img {
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

/*CSS: Reverse blocks*/
.reverse {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

/*Fix bug: Change font size in horizontal iphone (iphone ngang)*/
.aui {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Same height - item row */
.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
    .flex-row > [class*='col-'] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
        .flex-row .inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

/*Vertical Centering With CSS*/
/*
<div class="outter">
    <div class="miđle">
        <div class="inner"></div>
    </div>
</div>
*/
.outterDiv {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}
    .middleDIV {
        display: table-cell;
        vertical-align: middle
    }
        .innerDiv {
            margin-left: auto;
            margin-right: auto;
            width: 100px;
        }

/*Other way*/
.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
    .element {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

/*Other way: (know Width, unknow Height)*/
.parent-center {
    width: 100%;
    display: table;
    text-align: center;
}
    .parent-center .mid-content {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

/*Other way (unknow width, unknow height)*/
.parent {
    position: relative;
}
    .child {
        /*width: 80%;*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


/* Center vertical bootstrap */
.row {
    display: flex;
    align-items: center;
}

/* FLEX */
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.container {
    display: flex; /* or inline-flex */
    flex-direction: row; 
    /*row (default): left to right in ltr; right to left in rtl
    row-reverse: right to left in ltr; left to right in rtl
    column: same as row but top to bottom
    column-reverse: same as row-reverse but bottom to top*/

    flex-wrap: wrap;
    /*nowrap (default): all flex items will be on one line
    wrap: flex items will wrap onto multiple lines, from top to bottom.
    wrap-reverse: flex items will wrap onto multiple lines from bottom to top.*/

    align-items: center;
    /*flex-start: cross-start margin edge of the items is placed on the cross-start line
    flex-end: cross-end margin edge of the items is placed on the cross-end line
    center: items are centered in the cross-axis
    baseline: items are aligned such as their baselines align
    stretch (default): stretch to fill the container (still respect min-width/max-width)*/

}

.item {
    order: 1;
    flex-grow: 0; /* default 0 */
}





/* Short Text CSS */
.sortTitle {
    width: calc(100% - 20px);
    /*display: inline;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Css color place holder - placeholder */
::-webkit-input-placeholder {
   color: red;
}
:-moz-placeholder { /* Firefox 18- */
   color: red;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}
:-ms-input-placeholder {  
   color: red;  
}

/* Hiển thị mũi tên lên xuống của input type number */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}
/* Remove arrow */
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

/* Create Label tam giac */
.isSalePr .product-image-wrapper:before {
    content: 'SALE';
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    text-align: left;
    line-height: 130px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid transparent;
    border-bottom: 80px solid #000;
}
.isNewPr .product-image-wrapper:after {
    content: 'NEW';
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    line-height: 30px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid #000;
    border-bottom: 80px solid transparent;
}


/* Hiệu ứng khi thay đổi grid / layout / responsive */
div {    
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.syntax-background {
    background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
}

/* Scroll css */
.leftFilterBar::-webkit-scrollbar {
    width: 12px;
} 
.leftFilterBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
} 
.leftFilterBar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}