/* Adjust text */
* {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Toán tử CSS */
#abc + div : CSS cho thẻ div đầu tiên sau thành phần có id #abc. Div không nằm trong #abc.
#abc ~ div : CSS cho tất cả thẻ div sau thành phần có id #abc. Div không nằm trong #abc.
[title~=flower] : Chọn tất cả thành phần mà thuộc tính title chứa từ "flower"
[lang|=en]  Selects all elements with a lang attribute value starting with "en"
a[href^="https"]    Selects every <a> element whose href attribute value begins with "https"    3
a[href$=".pdf"] Selects every <a> element whose href attribute value ends with ".pdf"   3
a[href*="w3schools"]    Selects every <a> element whose href attribute value contains the substring "w3schools"
p::first-letter Selects the first letter of every <p> element   1
p::first-line   Selects the first line of every <p> element
:not(p) Selects every element that is not a <p> element

Các đơn vị tương đối được sử dụng trong CSS gồm có:
px: đơn vị tuyệt đối (tương đương 1 điểm ảnh).
pt: đơn vị tuyệt đối (1 inch = 72pt)
%: Là đơn vị tham chiếu tỷ lệ so với một phần tử mẹ của nó dựa vào kích thước. Ví dụ bạn có một cái khung với kích thước là 500px và khung bên trong có kích thước là 50% thì nó sẽ là 250px. Nếu bạn sử dụng đơn vị phần trăm này để gán kích thước cho thẻ <html> trên website thì nó sẽ thay đổi theo kích thước màn hình hoặc/cửa sổ website.
em: Là đơn vị tham chiếu tỷ lệ so với phần tử mẹ của nó dựa vào giá trị của thuộc tính font-size. Ví dụ bạn đặt cho font-size cho phần tử mẹ của nó là 19px thì nếu bạn sử dụng em trong khu vực phần tử đó thì 1em = 19px.
rem: Là đơn vị tham chiếu tỷ lệ so với phần tử gốc của một website dựa vào thuộc tính font-size của thẻ <html>, nghĩa là sẽ biến đổi tùy theo giá trị của thuộc tính font-size trong thẻ <html>. Cũng như rem, nếu bạn khai báo font-size cho thẻ <html> là 16px thì 1rem = 16px. 


/*Create triangle*/
.triangle {
    width: 0;
    height: 0;
    margin: -2px 0 0 2px;
    display: inline-block;
    border-left: 7px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* < > CSS */
.leftIcon { content: "\f053" or "\f104";  }
.rightIcon { content: "\f054" or "\f105"}

/*Tạo hiệu ứng răng cưa CSS*/
.paper:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    /*background: linear-gradient(135deg, #fff25, transparent 25%) center top repeat-x, linear-gradient(045deg, transparent 75%, #fff75) center top repeat-x;*/
    background-size: 12px 8px;
}

/*Zoom Image when hover or focus with CSS*/
ul li div {
    overflow: hidden;
}

ul li div:hover img, ul li div:focus img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

ul li div img {
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

/*CSS: Reverse blocks*/
.reverse {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/*Fix bug: Changed size font in horizontal iphone (iphone ngang)*/
.aui {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*Vertical Centering With CSS*/
/*(know Width, know Height)*/
div.parent {
    width: 40%;
    padding-bottom: 25.05%;
/ / Ratio position: relative;
}

div.parent .centerDiv {
    width: 315px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*
<div class="outter">
    <div class="miđle">
        <div class="inner"></div>
    </div>
</div>
*/
.outterDiv {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}

.middleDIV {
    display: table-cell;
    vertical-align: middle
}

.innerDiv {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/*Other way*/
.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Other way: (know Width, unknow Height)*/
.parent-center {
    width: 100%;
    display: table;
    text-align: center;
}

.parent-center .mid-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*Other way (unknow width, unknow height)*/
.parent {
    position: relative;
}

.child {
    /*width: 80%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Short Text CSS */
.sortTitle {
    width: calc(100% - 20px);
    /*display: inline;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Css color place holder - placeholder */
::-webkit-input-placeholder {
   color: red;
}
:-moz-placeholder { /* Firefox 18- */
   color: red;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}
:-ms-input-placeholder {  
   color: red;  
}

/* Create Label tam giac */
.isSalePr .product-image-wrapper:before {
    content: '\00a0\00a0\00a0 SALE';
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    text-align: left;
    line-height: 130px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid transparent;
    border-bottom: 80px solid #000;
}
.isNewPr .product-image-wrapper:after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 NEW';
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    line-height: 30px;
    width: 0;
    height: 0;
    margin: 0;
    border-right: 80px solid #000;
    border-bottom: 80px solid transparent;
}

